/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color );
  color: var(--text-color);
  
}

section{
  padding: 2rem 7%;
}
h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
  max-width: 986px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__logo,
.nav__toggle{
color: var(--text-color);
font-weight: var(--font-medium);
}

.header .logo img{
  height: 6rem;
}
.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
font-size:1.1rem ;
cursor: pointer;
}

.nav__toggle:hover{
color: var(--first-color);

}

@media screen and (max-width: 767px) {
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var( --body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15) ;
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;

  }
}

.nav__list{
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
}
.nav__link{
display: flex;
flex: column;
align-items: center;
font-size: var(--small-font-size);
color:var(--title-color);
font-weight: var(--font-medium);
}
.nav__link:hover{
color: var(--first-color);

}
.nav__icon{
  font-size: 1.2rem;
}
.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size:1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show-menu{
 bottom: 0; 
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/* Change background header */

.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}
/*==================== HOME ====================*/
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  
}

.home .content{
  max-width: 60rem;

}
.home .content h3{
  font-size: 2rem;
  text-transform: uppercase;
  color: #aaa;
}

.home .content p{
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #131320;
}


/*==================== BUTTONS ====================*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);

}
.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}
.button--small{
  padding: .75rem 1rem;
}

.button--link{
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}
.button--link:hover{
  background-color: transparent;
  color: var(--first-color-alt);
}

.button--white{
  background-color: #fff;
  color: var(--first-color);

}

.button--white:hover{
  background-color: #fff;
}

/*==================== ABOUT ====================*/
.about__video{
  width: 400px;
  position: relative;
}


.about__description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
}
.about__info{
  display:flex;
  justify-content: space-evenly;
  margin-bottom:var(--mb-2-5);

}

.about__info_title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info_name{
  font-size: var(--small-font-size);
}
.about__info_title,
.about__info_name{
  display: block;
  text-align: center;
}

.about__buttons{ 
  display: flex;
  justify-content: center;
}

/*==================== Menu ====================*/
.heading{
  text-align: center;
  font-size: 2.5rem;
}
.heading .span{
  font-size: 2.5rem;
}
.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}
.menu .box-container .box{
  padding: 0.5rem 0;
  text-align: center;
  border: var(--text-color);
}
.menu .box-container .box img{
  height: 15rem;
}
.menu .box-container .box h5{
  color: black;
  font-size: 1rem;
  padding: 0.5rem 0;
}
.menu .box-container .box .price{
  color: #1b1b1b;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.menu .box-container .box .price span{
  color: #1b1b1b;
  font-size: 1rem;
  text-decoration: line-through;
}
.menu .box-container .box:hover{
  background: #1b1b1b;
}
.menu .box-container .box:hover > *{
  color: #aaa;
}
/*==================== News ====================*/
.News_Event {
  background-color: rgb(221, 224, 224);
  letter-spacing:.1em;
}

.News_Event p {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(5, 5, 2);
  font-size: xx-large;
  background-color: rgb(245, 84, 218);
  font-weight: bolder;
}
.News__container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.News__content{
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  transition: .3s;
}

.News__content:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.News__icon{
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.News__title{
font-size:var(--h3-font-size);
margin-bottom: var(--mb-1);
font-weight: var(--font-medium);
}

.News__button{
  cursor:pointer;
  font-size: var(--small-font-size);
}

.News__button:hover{
  transform: translateX(.25rem);
}

.News__modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity:0;
  visibility: hidden;
  transition: .3s;
}


.News__modal-content{
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: .5rem;
}

.News__modal-News{
  row-gap: 1rem;

}
.News__modal-icon{
  display: flex;
}

.News__modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.News__modal-close{
  position: absolute;
  top: 1rem ;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.News__modal-icon{
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}






/* Active Modal */
.active-modal{
  opacity: 1;
  visibility: visible;
}

/*==================== Review ====================*/
.review .box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}
.review .box_container .box{
  border: var(--text-color);
  padding: 2rem 1rem;
}

.review .box_container .box p{
  font-size: 1rem;
  line-height: 1.8;
  color: #aaa;
  padding: 1rem 0;
}

.review .box_container .box .user{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.review .box_container .box h3{
  padding: 1rem 0;
  font-size: 1rem;
  color: #131320;
}

/*==================== Products ====================*/

.product{
  text-align: center;
}
.product__bg{
  background-color: var(--first-color-second);
  padding-top:  2rem;
  border-bottom: 5px solid black;
  margin-bottom: 15px;
}

.product__title{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
}

.product__description{
  margin-bottom: var(--mb-1-5);
}

.product__title,
.product__description{
  color:#fff;
}

.product__img{
  width: 800px;
  justify-self: center;
}

/*==================== CONTACT ME ====================*/
.contact__container{
  row-gap: 3rem;
}

.contact__information{
  display: flex;
  margin-bottom: var(--mb-2);

}
.contact__icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right:var(--mb-0-75) ;
}

.contact__title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}


.contact__subtitle{
  font-size:var(--small-font-size);
  color: var(--text-color-light);
}

.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}
.contact__label{
font-size: var(--small-font-size);
color: var(--title-color);
}

.contact_input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding:.25rem .5rem .5rem 0;


}



/*==================== FOOTER ====================*/
.footer{
  padding-top: 0rem;
}

.footer__bg{
background-color: var(--first-color-second);
padding: 2rem 0 2rem;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
font-size:var(--small-font-size);

}
.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover{
  color: var(--first-color-lighter);
}

.footer__copy{
  font-size:var(--small-font-size) ;
  color: var(--title-color);
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color:#fff;
}



/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom:-20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}
.scrollup:hover{
  font-family: 1.5rem;
  color: #fff;
}
/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
  .container{
    margin-left:var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding:2rem .25rem 4rem;
  }
  .nav__list{
    column-gap: 0;
  }
  .home__content{
    grid-template-columns: .25fr 3fr;
  }
  .home__blob{
    width: 180px;
  }
  .skills__title{
    font-size: var(--normal-font-size);
  }
  .qualification__data{
    gap: .5rem;
  }
  .News__container{
    grid-template-columns: max-content;
    justify-content: center;
  }
  .News__content{
    padding-right: 3.5rem;
  }
  .News__modal{
    padding: 0 .5rem;
  }
  .project__img{
    width: 200px;
  }
}

/* For medium devices */
@media screen and (min-width: 568px){

  .home__content{
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data{
    grid-column: initial;
  }
  .home__img{
    order: 1;
    justify-self: center;
  }
  .about__container,
  .Menu__containner,
  .Review__container,
  .project__container,
  .News_container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  .Review__img{
    width: 700px;
  } 

}

@media screen and (min-width: 768px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  body{
    margin: 0;
  }
  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }
  .header{
    top:0;
    bottom: initial;
  }
  .header,
  .main,
   .footer__container{
    padding: 0 1rem;
   }
   .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;

   }
   .nav__icon,
   .nav__close,
   .nav__toggle{
    display: none;
   }
   .nav__list{
    display: flex;
    column-gap: 2rem;
   }
   .nav__menu{
    margin-left: auto;
   }
   .change-theme{
    margin: 0;
   }
   .home__container{
    row-gap: 5rem;
   }
   .home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
   }
   .home__blob{
    width: 270px;
   }
   .home__scroll{
    display: block;
   }
   .home__scroll-button{
    margin-left:  3rem;
   }
   .about__img{
    width: 290px;
   }
   .about__description{
    text-align: initial;
   }
   .about__info{
    justify-content: space-between;
   }
   .about__buttons{
    justify-content: initial;
   }
}


/* For large devices */
@media  screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container{
    padding: 0;
  }
  .home__blob{
    width: 320px;
  }
  .home__social{
    transform: translateX(-6rem);
  }
  .News__container{
    grid-template-columns: repeat(3, 238px);
  }
  .Review__content{
    column-gap: 5rem;
  }
  .swiper-Review-icon{
    font-size: 3.5rem;
  }

  .contact__inputs{
    grid-template-columns: repeat(2, 1fr);
  }
}



/*==page3==*/
